p{
	
}

.red {
	
	background-color : rgb(215,0,75);
	width : 200px;
	height: 300px;
	margin : 20px 40px;
}


.yellow {
	
	background-color : rgb(215,200,75);
	width : 200px;
	height: 300px;
	margin: 200px auto;
}